In [1]:
import pandas as pd
import numpy as np

In [3]:
pd.__version__

'2.2.2'

In [5]:
pd.read_csv('https://andybek.com/pandas-drinks')

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,Afghanistan,NaN,NaN,NaN,NaN
1,Albania,89.0,132.0,54.0,4.9
2,Algeria,25.0,NaN,14.0,0.7
3,Andorra,245.0,138.0,312.0,12.4
4,Angola,217.0,57.0,45.0,5.9
...,...,...,...,...,...
188,Venezuela,333.0,1.0,3.0,7.7
189,Vietnam,111.0,2.0,1.0,2.0
190,Yemen,6.0,NaN,NaN,0.1
191,Zambia,32.0,19.0,4.0,2.5
192,Zimbabwe,64.0,18.0,4.0,4.7

In [7]:
pd.read_csv('https://andybek.com/pandas-drinks', usecols=['country', 'wine_servings'])

         country  wine_servings
0    Afghanistan            NaN
1        Albania           54.0
2        Algeria           14.0
3        Andorra          312.0
4         Angola           45.0
..           ...            ...
188    Venezuela            3.0
189      Vietnam            1.0
190        Yemen            NaN
191       Zambia            4.0
192     Zimbabwe            4.0

[193 rows x 2 columns]

In [11]:
alcohol = pd.read_csv('https://andybek.com/pandas-drinks', usecols=['country', 'wine_servings'], index_col='country')

In [13]:
alcohol.head()

             wine_servings
country
Afghanistan            NaN
Albania               54.0
Algeria               14.0
Andorra              312.0
Angola                45.0

In [15]:
type(alcohol)

pandas.core.frame.DataFrame

In [17]:
alcohol.size

193

In [19]:
alcohol

             wine_servings
country
Afghanistan            NaN
Albania               54.0
Algeria               14.0
Andorra              312.0
Angola                45.0
...                    ...
Venezuela              3.0
Vietnam                1.0
Yemen                  NaN
Zambia                 4.0
Zimbabwe               4.0

[193 rows x 1 columns]

In [21]:
alcohol.values

array([[ nan],
       [ 54.],
       [ 14.],
       [312.],
       [ 45.],
       [ 45.],
       [221.],
       [ 11.],
       [212.],
       [191.],
       [  5.],
       [ 51.],
       [  7.],
       [ nan],
       [ 36.],
       [ 42.],
       [212.],
       [  8.],
       [ 13.],
       [ nan],
       [  8.],
       [  8.],
       [ 35.],
       [ 16.],
       [  1.],
       [ 94.],
       [  7.],
       [ nan],
       [  7.],
       [ 16.],
       [  1.],
       [  4.],
       [  1.],
       [  1.],
       [  1.],
       [172.],
       [  8.],
       [  3.],
       [  1.],
       [  9.],
       [ 74.],
       [ 11.],
       [254.],
       [  5.],
       [113.],
       [134.],
       [ nan],
       [  1.],
       [278.],
       [  3.],
       [ 26.],
       [  9.],
       [  3.],
       [  1.],
       [  2.],
       [233.],
       [ nan],
       [ 59.],
       [ nan],
       [  1.],
       [ 97.],
       [ 37.],
       [ 59.],
       [  1.],
       [149.],
       [175.],
       [  1.],
       [218.],
       [ 28.],
       [  2.],
       [  2.],
       [ 21.],
       [  1.],
       [  1.],
       [  2.],
       [185.],
       [ 78.],
       [ nan],
       [ nan],
       [ nan],
       [ nan],
       [165.],
       [  9.],
       [237.],
       [  9.],
       [ 16.],
       [  1.],
       [ 12.],
       [  2.],
       [  1.],
       [ nan],
       [  6.],
       [123.],
       [ 62.],
       [ 31.],
       [ nan],
       [  2.],
       [ nan],
       [ 56.],
       [271.],
       [  4.],
       [  1.],
       [ nan],
       [ nan],
       [  1.],
       [ 12.],
       [ nan],
       [ nan],
       [ 18.],
       [  5.],
       [ 18.],
       [ nan],
       [  8.],
       [128.],
       [  1.],
       [  5.],
       [ nan],
       [  1.],
       [  8.],
       [ nan],
       [ 19.],
       [175.],
       [  1.],
       [  1.],
       [  2.],
       [  7.],
       [129.],
       [  1.],
       [ nan],
       [ 23.],
       [ 18.],
       [  1.],
       [ 74.],
       [ 21.],
       [  1.],
       [ 56.],
       [339.],
       [  7.],
       [  9.],
       [ 18.],
       [167.],
       [ 73.],
       [ nan],
       [ 32.],
       [ 71.],
       [ 11.],
       [ 24.],
       [ nan],
       [ 14.],
       [ nan],
       [  7.],
       [127.],
       [ 51.],
       [  2.],
       [ 11.],
       [116.],
       [276.],
       [  1.],
       [ nan],
       [ 81.],
       [112.],
       [ nan],
       [ nan],
       [  7.],
       [  2.],
       [186.],
       [ 28.],
       [ 16.],
       [ nan],
       [  1.],
       [ 86.],
       [  4.],
       [ 19.],
       [  5.],
       [  7.],
       [  2.],
       [  7.],
       [ 32.],
       [  9.],
       [ nan],
       [ 45.],
       [  5.],
       [195.],
       [  1.],
       [ 84.],
       [ 22.],
       [  8.],
       [ 11.],
       [  3.],
       [  1.],
       [ nan],
       [  4.],
       [  4.]])

In [23]:
alcohol.index

Index(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua & Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria',
       ...
       'Tanzania', 'USA', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela',
       'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype='object', name='country', length=193)

In [25]:
alcohol.values.size == alcohol.index.size

True

In [36]:
alcohol.shape

(193, 1)

In [38]:
alcohol.size == alcohol.shape[0]

True

In [40]:
len(alcohol)

193

Unique Values And Series Monotonicity

In [58]:
df = pd.DataFrame(alcohol)

In [68]:
# Check for duplicates across all columns
duplicates = df.duplicated()

In [64]:
# Get the duplicate rows
duplicate_rows = df[duplicates]

print(duplicate_rows)

                   wine_servings
country
Antigua & Barbuda           45.0
Bangladesh                   NaN
Belgium                    212.0
Bhutan                       NaN
Bolivia                      8.0
...                          ...
Venezuela                    3.0
Vietnam                      1.0
Yemen                        NaN
Zambia                       4.0
Zimbabwe                     4.0

[121 rows x 1 columns]

# Keep the first occurrence of the duplicate row
df.drop_duplicates(keep='first') 

# Keep the last occurrence of the duplicate row
df.drop_duplicates(keep='last') 

# Drop all duplicate rows
df.drop_duplicates(keep=False)

In [70]:
alcohol.isnull()

             wine_servings
country
Afghanistan           True
Albania              False
Algeria              False
Andorra              False
Angola               False
...                    ...
Venezuela            False
Vietnam              False
Yemen                 True
Zambia               False
Zimbabwe             False

[193 rows x 1 columns]

In [74]:
alcohol[alcohol.isnull()].index

Index(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua & Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria',
       ...
       'Tanzania', 'USA', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela',
       'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype='object', name='country', length=193)